onnxruntime-gpu==1.27.0
ctranslate2
sentencepiece
transformers<5,>=4.40
huggingface-hub
manga-ocr
rapidocr
numpy
opencv-python-headless
Pillow
requests
tqdm
platformdirs
PySide6
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cuda-nvrtc-cu12
nvidia-nvjitlink-cu12
